@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@property --deg {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@keyframes autoRotate {
  to {
    --deg: 360deg;
  }
}

@layer components {
  .box {
    position: relative;
    box-sizing: content-box;
  }

  .box::before,
  .box::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
      from var(--deg) at center,
      #00c3ff,
      #4d0199,
      #6300c6,
      #009dcd
    );
    border-radius: inherit;
    z-index: -2;
    box-sizing: inherit;
    animation: autoRotate 2s linear infinite;
  }

  .box::after {
    z-index: -1;
    filter: blur(10px);
  }
}
